/* style.css */
/* General styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navigation styles */
.nav1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #ffffff;
  color: #0e5d1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3; /* Ensure navigation appears above other elements */
  border-bottom: 3px solid #0e5d1e; /* Add green border */
}

.results-nav1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #ffffff;
  color: #0e5d1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3; /* Ensure navigation appears above other elements */
  border-bottom: 3px solid #0e5d1e; /* Add green border */
}

.logo {
  width: 50px; /* Set width of the logo */
  height: 50px; /* Set height of the logo */
  background: url('img/NSBE-Hacks-Logo.png') no-repeat center center; /* Replace 'path/to/logo.png' with your logo path */
  background-size: cover;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #0e5d1e;
  font-size: 25px;
  padding-right: 20px;
}

.nav-links li a:hover {
  color: #08260e; /* Change color on hover */
}

ul {
  list-style-type: none;
}

.website-name {
  font-size: 21px;
  padding-right: 20px;
}

/* Background image styles */
.background-image {
  background-image: url("https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure background appears behind other content */
  filter: blur(3px);  
  /* Optional: Apply blur effect to the background */
}

.results-background-image {
  position: absolute;
  z-index: -1; /* Ensure background appears behind other content */
  filter: blur(3px);  
  /* Optional: Apply blur effect to the background */
}

.rsp {
  max-width: 100%;
  height: auto;
}

/* Container styles */
.container {
  position: relative;
  padding: 20px;
  text-align: center;
  color: #000000; /* Set text color to black */
  z-index: 2; /* Ensure content appears above the background image */
}

.title {
  font-size: 120px;
  margin-bottom: 20px;
  padding-top: 85px;
  color: white;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

p {
  font-size: 27px;
  margin-bottom: 30px;
  color: white;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Add styles for the search form */
.search-form {
  margin-top: 20px; /* Adjust the margin as needed */
  padding-top: 61px;
}

/* Add styles for the search input */
.search-form input[type="text"] {
  width: 70%;
  padding: 15px;
  margin-right: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

/* Add styles for the search button */
.search-form button {
  padding: 15px;
  background-color: #0e5d1e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.search-form button:hover {
  background-color: #08260e;
}

.desc {
  padding-top: 130px;
  color: #0e5d1e;
  font-size: 55px;
  padding-left: 40px;
  padding-right:40px;
}
